/* Fonts */

@font-face {
  font-family: Raleway-Bold;
  src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
  font-family: Raleway-Light;
  src: url(../fonts/Raleway-Light.ttf);
}
@font-face {
  font-family: Raleway-Regular;
  src: url(../fonts/Raleway-Regular.ttf);
}

/* PreLoader Div Styles */

.preloader-hide {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  background: #fff;
}
.preloader-img {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Global Styles */

* {
  margin: 0;
  padding: 0;
}
.align {
  width: 1100px;
  margin: auto;
}

/* Main Header Styles */

.main-header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  z-index: 9;

  background: #ffffffbf;
}
.header-logo-container {
  display: block;
  float: left;
  height: 65px;
  overflow: hidden;
}
.header-logo-a {
  display: inline-flex;
  align-items: center;
  height: 65px;
}
.header-logo {
  height: 85%;
}
.header-nav-container {
  display: block;
  float: right;
}
.header-nav {
  display: flex;
  align-items: center;
  height: 65px;
}
.header-nav li {
  list-style: none;
  font-family: Raleway-Bold;
  font-size: 12px;
  margin: 0 5px;
  padding-right: 10px;
  box-sizing: border-box;
  border-right: solid 1px #2c2c2c;
}
.header-nav a {
  text-decoration: none;
  transition: all 250ms ease-in;
  color: #2c2c2c;
}
.header-nav a:hover {
  transition: all 250ms ease-in;
  color: #ac2c21;
}

/* Home Section Styles */

.main-section-home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 460px;

  background: url(../media/banner.jpg);
  background-size: 100%;
  background-position: initial;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.main-home-filter {
  width: 100%;
  height: 460px;
  background: #181818a6;
}
.home-tittle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 460px;
  padding-top: 65px;
  box-sizing: border-box;
}
.tittle-container {
  text-align: center;
}
.home-main-tittle {
  font-family: Raleway-Bold;
  font-size: 40px;
  color: #fff;
}
.separation {
  height: 2px;
  margin: auto;
}
.home-separation {
  width: 150px;
  margin: 35px auto;
  background: #fff;
}
.home-second-tittle {
  font-family: Raleway-Regular;
  font-size: 24px;
  color: #fff;
}

/* Services Section Styles */

.services-section-container {
  padding-bottom: 30px;
  box-sizing: border-box;
}
.services-section-tittle-container {
  margin-bottom: 40px;
  text-align: center;
}
.services-section-tittle {
  margin: 70px auto 25px;
  font-size: 40px;
  font-family: Raleway-Bold;
  color: #ac2c21;
}
.services-separation {
  width: 100px;
  margin-bottom: 20px;
  background: #2c2c2c;
}
.services-section-subtittle {
  font-size: 22px;
  font-family: Raleway-Light;
}
.service-article {
  display: flex;
  margin: 20px 0;
  padding: 0 50px;
  box-sizing: border-box;
}
.service-image-module-container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url(../media/real-state.jpg);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.service-module-text {
  width: 700px;
  padding-top: 70px;
  padding-left: 50px;
  box-sizing: border-box;
}
.service-module-tittle {
  font-family: Raleway-Bold;
  font-size: 18px;
  color: #ac2c21;
}
.separation-width {
  width: fit-content;
}
.service-module-tittle-separation {
  margin: 15px 0;
  background: #2c2c2c;
}
.service-module-description {
  font-family: Raleway-Regular;
  color: #2c2c2c;
}
.services-button {
  height: 50px;
  margin-top: 20px;
  padding: 15px 30px;
  box-sizing: border-box;
  border-radius: 30px;
  border: solid 2px #ac2c21;
  background: none;
  cursor: pointer;
  transition: all 250ms ease-in;
  font-family: Raleway-Bold;
  color: #ac2c21;
  font-size: 12px;
}
.services-button:hover {
  transition: all 250ms ease-in;
  background: #ac2c212b;
}
.services-button a {
  font-family: Raleway-Bold;
  text-decoration: none;
  color: #ac2c21;
}
.left {
  padding-left: 0;
  padding-right: 50px;
}
.buildings-img {
  background-image: url(../media/buildings.jpg);
}
.enterprise {
  background-image: url(../media/enterprise.jpg);
}

/* About Us Styles */

.us-section-container {
  width: 100%;
  overflow: hidden;
  background-image: url(../media/about-us.jpg);
  background-attachment: fixed;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.us-filter {
  display: flex;
  align-items: center;
  height: 800px;
}
.us-content {}
.us-section-tittle-container {
  margin-bottom: 60px;
  text-align: center;
}
.us-section-tittle {
  font-family: Raleway-Bold;
  font-size: 40px;
  color: #fff;
}
.us-section-description {
  width: 1000px;
  margin: auto;
  text-align: justify;
}
.us-section-paragraph {
  margin: 10px 0;
  font-size: 20px;
  font-family: Raleway-Regular;
  color: #fff;
}

/* Contact Section Styles */

.contact-section-container {
  margin-bottom: 70px;
}
.contact-section-tittle-container {
  margin-top: 70px;
  text-align: center;
}
.contact-section-tittle {
  margin-bottom: 30px;
  font-family: Raleway-Bold;
  font-size: 40px;
  color: #2c2c2c;
}
.contact-section-separation {
  width: 130px;
  margin-bottom: 60px;
  background: #ac2c21;
}
.contact-align-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}
.form-container {}
.form-contact-tittle {
  font-family: Raleway-Bold;
  font-size: 18px;
  color: #2c2c2c;
}
.contact-form-separation {
  margin: 20px 0;
  width: 100px;
  background: #ac2c21;
}
.contact-form {
  margin-top: 40px;
}
.contact-input {
  width: 500px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: Raleway-Regular;
  color: #2c2c2c;
  border: solid 2px #ac2c21;
  border-radius: 4px;
}
.form-inline-input {
  display: inline-block;
  width: 240px;
}
.contact-textarea {
  height: 150px;
  margin-bottom: 7px;
  resize: none;
}
.contact-form-button {
  background: none;
  border-radius: 4px;
  border: solid 2px #ac2c21;
  padding: 10px;
  box-sizing: border-box;
  color: #2c2c2c;
  font-family: Raleway-Regular;
  font-size: 15px;
  width: 100px;
  float: right;
  margin-right: 50px;
  cursor: pointer;
  transition: all 200ms ease-in;
}
.contact-form-button:hover {
  background: #ac2c212b;
  transition: all 200ms ease-in;
}
.social-networks-container {
  padding-left: 60px;
  box-sizing: border-box;
  border-left: solid 1px #2c2c2c;
}
.other-way-contact {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.way-contact-icon {
  background: #dedede;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 20px;
}
.other-way-contact i {
  font-size: 30px;
  color: #ac2c21;
}
.social-network-description {
  display: inline-block;
  width: 50%;
  color: #2c2c2c;
}
.ico-tittle {
  display: block;
  font-family: Raleway-Bold;
  font-size: 18px;
}
.ico-description {
  font-family: Raleway-Regular;
  font-size: 16px;
}
.clipboardspan {
  transition: all 200ms ease-in;
}
.clipboardspan:hover {
  transition: all 200ms ease-in;
  color: #ac2c21;
}
.contact-form-subtittle {
  font-size: 15px;
  font-family: Raleway-Light;
  font-weight: bold;
  color: #2c2c2c;
}

/* Main Footer Styles */

.main-footer {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #dedede;
  border-top: solid 3px #ac2c21;
}
.copyright-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
}
.copyright-container span {
  margin-right: 5px;
  margin-bottom: -5px;
  font-family: Raleway-Light;
  font-weight: bold;
  color: #000;
}
.copyright-img {
  width: 70px;
}

/* Auto Scroll Top Styles */

a.fa.scroll-up {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  bottom: 50px;
  right: 50px;
  box-sizing: border-box;
  z-index: 5;
  font-size: 24px !important;
  line-height: 37px !important;
  text-align: center;
  text-decoration: none;
  opacity: 0.85;
  border-radius: 30px;
  color: #000;
  background: #ac2c21;
  transition: all 200ms ease-in;
}
a.fa.scroll-up:hover {
	background: #bd0f00;;
  transition: all 200ms ease-in;
}

/* Properties Section Styles */

.properties-banner-container {
  margin-bottom: 70px;
  background-image: url(../media/properties-banner.jpg);
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.properties-section-container {}
.propertie-image-container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}
.propertie-image {
  height: 300px;
}
.propertie-price {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  font-family: Raleway-Bold;
  color: #ac2c21;
}
.propertie-section-separation {
  width: 260px;
  height: 2px;
  margin: 60px auto 0;
  background: #2c2c2c;
}

/* Propertie Viewver Styles */

.propiertie-viewver-section {}
.viewver-container {
  display: grid;
  grid-template-columns: 652px 448px;
  width: 100%;
  padding-top: 20px;
  box-sizing: border-box;
}
.img-display-container {
  width: 650px;
  height: 450px;
  overflow: hidden;
  z-index: 5;
  border: solid 1px #2c2c2c;
}

/* Slider */

}
.mySlides{
  display:none;
}
.fade{
  -webkit-animation-name:fade;
  -webkit-animation-duration:1.5s;
  animation-name:fade;
  animation-duration:1.5s;
}
@-webkit-keyframes fade{
  from{opacity:.4}
  to{opacity:1}
}
@keyframes fade{
  from{opacity:.4}
  to{opacity:1}
}
.slide-img {
  transition: all 200ms ease-in;
  transform: scale(1.0);
  cursor: zoom-in;
}
.slide-img:hover {
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

/* */
.viewver-description-container {}
.viewver-description-tittle {
  display: block;
  margin-bottom: 15px;
  margin-left: 40px;
  font-size: 18px;
  font-family: Raleway-Bold;
  color: #2c2c2c;
}
.vw-description-separation {
  width: 60px;
  margin: 0 40px;
  margin-bottom: 20px;
  background: #ac2c21;
}
.description-content-vw {
  text-align: left;
  padding-left: 40px;
  padding-top: 5px;
}
.description-point {
  margin: 14px 0;
  list-style: none;
  font-family: Raleway-Regular;
  color: #2c2c2c;
  font-size: 16px;
}
