@font-face {
    font-family: Raleway-Regular;
    src: url(../fonts/Raleway-Regular.ttf);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert {
  text-align: center;
}
#return-submit {
  margin: 0;
  padding: 30px;
  box-shadow: 0 0 10px 0px #000000;
  background: #fff;
  border: solid 2px #ac2c21;
}
.submit-p {
  display: inline-block;
  font-family: Raleway-Regular;
  font-weight: bold;
  color: #2c2c2c;
  font-size: 18px;
}
.submit-separation {
  width: 150px;
  margin-top: 30px;
  margin-bottom: 10px;
  background: #ac2c21;
}
.sumbit-button {
  margin-top: 30px;
}
.submit-button a {
  color: #ac2c21;
}
.submit-button a:hover {
  text-decoration: none;
  color: #ac2c21;
}
.submit-footer {
  position: absolute;
  bottom: 0;
}

/* Responsive */

@media (max-width: 480px) {
  #return-submit {
    border: none;
    box-shadow: none;
  }
  .submit-p {
    display: block;
    font-size: 16px;
    text-align: justify;
  }
}
