@font-face {
    font-family: Raleway-Regular;
    src: url(../fonts/Raleway-Regular.ttf);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert {
  text-align: center;
}
#return-submit {
  margin: 0;
  box-shadow: 0 0 10px 0px #000000;
  background: #fff;
  border: solid 2px #ac2c21;
}
.submit-span {
  font-family: Raleway-Regular;
  color: #2c2c2c;
  font-size: 18px;
}
.submit-a {
  font-family: Raleway-Regular;
  text-decoration: underline;
  color: #ac2c21;
  font-size: 18px;
  transition: all 200ms ease-in;
}
.submit-a:hover {
  color: #2c2c2c;
  transition: all 200ms ease-in;
}
